@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
.menuBox {
      width: 100%;
      /* height:500px; */
      height: auto;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-bottom: 1px solid black;
}
.menu {
      text-align: center;
}
h2 {
    font-family: 'Bebas Neue';
    font-size: 100px;
} 

